* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: white;
    color: black;
}

#navbar {
    position: fixed;
    top: 0;
    left: 0;
    /* background-color: green; */
    width: 100%;
    padding-block: 2rem;
}


#welcome-section {
    height: 100vh;
    padding-top: 8rem;
    /* background-color: blue; */
    z-index: -1;
}

@media (min-width: 800px) {
    body {
        background: red;
    }
}