* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    background-color: white;
    color: black;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 1em;
    /* background-color: green; */
}

#logo {
    width: 50px;
}

#open-btn, #close-btn {
    position: absolute;
    padding: .2em .55em;
    font-size: 2.4rem;
    cursor: pointer;
    border-radius: 5px;
}

#open-btn {
    top: 15px;
    right: 15px;
    background-color: black;
    color: white;
    transition: all .4s linear;
}

#close-btn {
    z-index: 999999;
    top: 15px;
    right: -100vw;
    color: red;
    transition: all .4s linear;
}

#menu-btn {
    display: none;
}


#navbar {
    display: block;
    position: fixed;
    top: 0;
    right: -100%;
    width: 50vw;
    height: 100%;
    background-color: black;
    color: white;
    transition: all .4s linear;
}

#menu-btn:checked ~ #navbar {
    right: 0;
}

#menu-btn:checked ~ label #open-btn {
    right: 40vw;
    opacity: 0;
    pointer-events: none;
}

#menu-btn:checked~label #close-btn {
    right: 15px;
}

.profile {
    margin: 4em 1em 2em;
    text-align: center;
}

.profile img {
    width: 60%;
    margin: 0 auto .5em;
    aspect-ratio: 1/1;
    border-radius: 50%;
}

.profile p {
    font-size: 2.2rem;
    font-weight: 500;
}

#navbar ul {
    list-style: none;
}

#navbar li a {
    display: block;
    text-decoration: none;
    color: white;
    line-height: 55px;
    font-weight: 500;
    font-size: 1.8rem;
    padding-left: 1em;
    border-top: 1px solid grey;
    border-bottom: 1px solid grey;
}


#welcome-section {
    height: 100vh;
    padding-top: 12rem;
    /* background-color: blue; */
    z-index: -1;
}



@media (min-width: 800px) {
    body {
        background: red;
    }
}